﻿@using RazorEngine.Templating
@using NUnit2HTML
@inherits TemplateBase<TestAssembly>
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width =device-width, initial-scale=1, maximum-scale=1\" />
    <title>@Model.Name</title>

    <!--Include Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/slate/bootstrap.min.css" />

    <!--Include jQuery-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>

    <!--Include Bootstrap-->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--Add custom scripts-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({ 'placement': 'bottom' })
        });
    </script>
    <style>
        .page {
            margin: 15px 0;
        }

        .no-bottom-margin {
            margin-bottom: 0;
        }

        .printed-test-result {
            margin-top: 15px;
        }

        .reason-text {
            margin-top: 15px;
        }

        .scroller {
            overflow: scroll;
        }

        @@media print {
            .panel-collapse {
                display: block !important;
            }
        }

        .val {
            font-size: 38px;
            font-weight: bold;
            margin-top: -10px;
        }

        .stat {
            font-weight: 800;
            text-transform: uppercase;
            font-size: 0.85em;
            color: #BBBBBB;
        }

        .test-result {
            display: block;
        }

        .no-underline:hover {
            text-decoration: none;
        }

        .text-default {
            color: #555;
        }

            .text-default:hover {
                color: #000;
            }

        .info {
            color: #DDDDDD;
        }

        .modal-dialog {
            width: 80%;
        }

        .noIgnore {
            width: 50%;
        }

        .withIgnore {
            width: 33%;
        }
    </style>
</head>
<body>
    @{
        var assertColor = Model.Asserts > 0 ? "text-success" : string.Empty;
        var passedColor = Model.PassedTests > 0 ? "text-success" : string.Empty;
        var failedColor = Model.FailedTests > 0 ? "text-danger" : string.Empty;
        var errorColor = Model.ErrorTests > 0 ? "text-danger" : string.Empty;
        var ignoredColor = Model.IgnoredTests > 0 ? "text-info" : string.Empty;
        var successRate = 100 - Model.SuccessRate;
    }
    <div class="container-fluid page">
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="col-6 col-sm-6 col-xs-6 text-center ">
                        Project: <b><font size=4 color='white'>@Model.Name</font></b>
                    </div>
                    <div class="col-6 col-sm-6 col-xs-6 text-center ">
                        Date: <b><font size=4 color='white'>@Model.EndTime.ToShortDateString()</font></b>
                    </div>
                    <br /><br />
                    <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                        <div class="stat">Asserts</div>
                        <div class="val @assertColor">@Model.Asserts</div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                        <div class="stat">Tests</div>
                        <div class="val ignore-val">@Model.TestCases</div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                        <div class="stat">Passed</div>
                        <div class="val @passedColor">@Model.PassedTests</div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                        @if (Model.ErrorTests == 0)
                        {
                            <div class="stat">Failed</div>
                            <div class="val @failedColor">@Model.FailedTests</div>
                        }
                        else
                        {
                            <div class="stat">Failed+Error</div>
                            <div class="val @errorColor">@Model.FailedTests+@Model.ErrorTests</div>
                        }
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                        <div class="stat">Ignored</div>
                        <div class="val @ignoredColor">@Model.IgnoredTests</div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                        <div class="stat">Success Rate</div><div class="val">@successRate %</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            @for (int i = 0; i < Model.TestFixtures.Count; i++)
            {
                var fixture = Model.TestFixtures[i];
                var modalId = "modal-" + fixture.Name + "-" + i;
                var width = "50%";
                var panelSort = "";
                switch (fixture.Result.ToLower())
                {
                    case "passed":
                        panelSort = "panel-success";
                        break;
                    case "skipped":
                        panelSort = "panel-info";
                        width = "33%";
                        break;
                    case "ignored":
                        panelSort = "panel-info";
                        width = "33%";
                        break;
                    case "failed":
                        panelSort = "panel-danger";
                        break;
                    case "error":
                        panelSort = "panel panel-warning";
                        break;
                    default:
                        panelSort = "panel-default";
                        break;
                }

                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="panel @panelSort">
                        <div class="panel-heading">
                            <a href="#@modalId" role="button" data-toggle="modal" no-underline>
                                <span style="color: white; font-weight: bold;">
                                    @fixture.Name
                                    <small class="pull-right">@fixture.Duration</small>
                                </span>
                            </a>
                        </div>

                        <div class="panel-body">
                            <div class="text-center" style="font-size: 1.4em;">
                                <div style="float: left; width: @width;">
                                    <a href="#@modalId" role="button" data-toggle="modal" class="text-success no-underline">
                                        <span style="font-weight: bold">@fixture.Passed</span>
                                        <span class="glyphicon glyphicon-ok-sign"></span>
                                        <span class="test-result">Passed</span>
                                    </a>
                                </div>
                                @if (fixture.Skipped > 0)
                                {
                                    <div style="float: left; width: @width;">
                                        <a href="#@modalId" role="button" data-toggle="modal" class="text-info no-underline">
                                            <span style="font-weight: bold">@fixture.Skipped</span>
                                            <span class="glyphicon glyphicon-question-sign"></span>
                                            <span class="test-result">Ignored</span>
                                        </a>
                                    </div>
                                }
                                <div style="float: left; width: @width;">
                                    <a href="#@modalId" role="button" data-toggle="modal" class="text-danger no-underline">
                                        @if (fixture.Errors > 0)
                                        {
                                            <span style="font-weight: bold">@fixture.Failed</span><small>+@fixture.Errors</small>
                                        }
                                        else
                                        {
                                            <span style="font-weight: bold;">@fixture.Failed</span>
                                        }
                                        <span class="glyphicon glyphicon-remove-sign"></span>
                                        <span class="test-result">Failed</span>
                                    </a>
                                </div>
                            </div>

                            @*GENERATE FIXTURE MODAL*@
                            <div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">@fixture.Name</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="panel-group no-bottom-margin" id="@modalId-accordion">
                                                @for (int j = 0; j < @fixture.ChildTestCases.Count; j++)
                                                {
                                                    var testCase = fixture.ChildTestCases[j];
                                                    var testResultColor = "";
                                                    var dataParent = "#" + modalId;
                                                    var panelId = modalId + "-accordion" + j;
                                                    var panelLink = "#" + panelId;
                                                    switch (testCase.Result.ToLower())
                                                    {
                                                        case "passed":
                                                            testResultColor = "panel-success";
                                                            break;
                                                        case "skipped":
                                                            testResultColor = "panel-info";
                                                            break;
                                                        case "ignored":
                                                            testResultColor = "panel-info";
                                                            break;
                                                        case "failed":
                                                            testResultColor = "panel-danger";
                                                            break;
                                                        case "error":
                                                            testResultColor = "panel panel-warning";
                                                            break;
                                                        default:
                                                            testResultColor = "panel-default";
                                                            break;
                                                    }
                                                    <div class="panel @testResultColor">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a data-toggle="collapse" data-parent=@dataParent href=@panelLink>
                                                                    @testCase.Name
                                                                    <small class="pull-right">@testCase.Duration</small>
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id=@panelId class="panel-collapse collapse">
                                                            <div class="panel-body">
                                                                <div><strong>Result:</strong> @testCase.Result</div>
                                                                <div>
                                                                    @if (testCase.Result.ToLower() == "passed")
                                                                    {

                                                                        <strong>Output:</strong>
                                                                        <pre>@testCase.Output</pre>		}

                                                                    @if (testCase.Result.ToLower() == "failed" || testCase.Result.ToLower() == "error")
                                                                    {
                                                                        <div>
                                                                            <strong>Message:</strong> @testCase.Message
                                                                        </div>
                                                                        <div>
                                                                            <strong>Stack Trace:</strong> <pre>@testCase.StackTrace</pre>
                                                                        </div>		}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>}
        </div>
    </div>
</body>







</html>
